/* je définis les thèmes de couleurs pour l'application */

:root {
  /* Mode sombre (par défaut) */

  --color-background: hsl(0, 0%, 17%);
  --color-text: rgb(132, 99, 212);
  --color-border: #2c2c2c;
  --color-muted: #9ca3af;
  --color-bar:#535151;
  --background-gradient: linear-gradient(rgba(216, 36, 36, 0),rgb(137, 43, 226));
  --color-icon: #ffffff;
  --color-error: #e35d6a;
}

[data-theme="light"] {
    /* Mode clair */
  --color-background: #ffffff;
  --color-text: #000000;
  --color-border: #e5e7eb;
  --color-muted: #6b7280;
  --color-bar: #ffffff;
  --background-gradient: linear-gradient(0deg,rgba(137, 43, 226, 0.135),rgba(255, 0, 0, 0));
  --color-icon: #007dff;
  --color-error:#e35d6a;

}